@model IAProject_FreelancerSystem.Models.Job

@{
    ViewBag.Title = "createnewpost";

}

    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <form action="/FactoryLayout/createnewpost" method="post">
                <h5>Add New Job Post</h5>
                <div class=" mt-4">
                    <label for="validationCustom01" class="form-label">Job Title</label>
                    @Html.TextBoxFor(p => p.jobTitle, new { Class = "form-control" })
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mt-4">
                    <label for="validationCustom01" class="form-label">Job Type</label>
                    @Html.DropDownListFor(p => p.jobType, new List<SelectListItem>
                       { new SelectListItem{Text="hourely", Value="Hourely"},
                         new SelectListItem{Text="Fixed", Value="Fixed"}}, 
                         "Select Type", new { Class = "form-control" })
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mt-4">
                    <label for="validationCustom01" class="form-label">Job Budget</label>
                    @Html.TextBoxFor(p => p.jobBudget, new { Class = "form-control" })
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mt-4">
                    <label for="validationCustom01" class="form-label">Job Description</label>
                    @Html.TextBoxFor(p => p.jobDescription, new { Class = "form-control" })
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-2 col-12">Post</button>
            </form>
        </div>
    </div>